<h2>Snippets for the project "<%= @project.title %>"</h2>

<%= link_to "New Snippet", new_project_snippet_path(@project), class: "btn btn-primary" %>

<% @snippets.each do |snippet| %>
  <div class="well">
    <%= link_to snippet.title, project_snippet_path(@project, snippet) %>
  </div>
<% end %>
