
<!-- Intro Header -->
  <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">molica</h1>
                      <p class="intro-text">A project management tool for Lean methodology<br>Software development with focus</p>
                      <a href="#about" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About molica</h2>
                <p>Lean methodology applied to software development is based on 7 principles: eliminate waste, amplify learning, decide as late as possible, deliver as fast as possible, empower the team, build integrity in, and see the whole. molica offers a unique set of tools that makes Lean intuitive and easy. Visual aids provide an overview of the project, and a task tree is created for each sprint. molica is also a knowledge management system. Your team learn with each project, and the resources are available as reference for your future mission!</p>

                <p>
                  molica is an open beta project. Feel free to report bugs and make suggestions!
                </p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Feel free to email me to provide some feedback or just say hi!</p>
                <p><a href="mailto:cerizesantos@gmail.com">cerizesantos@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/cerize" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://ca.linkedin.com/in/cerize" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Cerize Santos 2016</p>
        </div>
    </footer>
