
<div id="<%= dom_id(@project) %>">
  <%= render 'project' %>
</div>

<!-- sprints -->
<h2>Sprints</h2>

<div class="sprints">
  <% @project.sprints.each do |s| %>
    <%= render "/sprints/sprint", sprint: s %>
  <% end %>
</div>

<div id="new-sprint-link">
  <%= link_to "New Sprint", new_project_sprint_path(@project),
  remote: true %>
</div>

<div id="sprint-form"></div>
<!-- end of sprints -->
