
@import "bootstrap-sprockets";
@import "bootstrap";
//@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// .nav-padding {
//   margin-top: 50px;
// }

//Background colors
//#EDA156 - light orange
//#B0D7D4 - light blue
//#D4DD82 - light green
//#F7EF6A - fresh yellow
//#C70025 - japan red
svg {
  display: block;
  margin: auto;

}

path {
  fill: #6D6D6D;
}


.line {
  stroke: #6D6D6D !important;
}
.accordion .ui-accordion-content {
  width: 100%;
  background-color: #f3f3f3;
  color: #777;
  font-size: 10pt;
  line-height: 16pt;
}

.accordion .ui-accordion-header  {
  background-image: none;
}

.btn-index {
  width: 100%;
}

.btn-resources {
  width: 100px;
}

.draft {
  background-color: #D9D9D9;
  a {
    &:hover {
      color: white;
    }
  }
}

.in_progress {
  background-color: #6F8EAB !important;
  fill: blue;
  color: white;
  a {
    color: white;
  }
}

.complete {
  background-color: #A2B33B;
  fill: green;
  color: white;
  a {
    color: white !important;
    &:hover {
    }
  }
}

.cancelled {
  background-color:  #D9D9D9;
  a {
    text-decoration: line-through;
  }
}

.overdue {
  background-color: #DE6868;
  color: white;
  a {
    color: white;
  }
}

.created {
  fill: #dfdce3;
}

.member {
  background-color: #dfdce3;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

.div-inline {
  display: inline-block;
}
