@import "bootstrap-sprockets";
@import "bootstrap";
//@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// .nav-padding {
//   margin-top: 50px;
// }

//Background colors
//#EDA156 - light orange
//#B0D7D4 - light blue
//#D4DD82 - light green
//#F7EF6A - fresh yellow
//#C70025 - japan red

.btn-manager {
  background-color: #53A318 !important;
}

.btn-index {
  width: 100%;
}

.btn-resources {
  width: 100px;
}

.draft {
  background-color: #D3D3D3;
  a {
    &:hover {
      color: white;
    }
  }
}

.in_progress {
  background-color: #465C8B;
  color: white;
  a {
    color: white;
  }
}

.complete {
  background-color: #53A318;
  color: white;
  a {
    color: white;
  }
}

.cancelled {
  background-color:  #73777A;
  color: white;
  a {
    color: white;
  }
}

.overdue {
  background-color: #FD7E47;
  color: white;
  a {
    color: white;
  }
}

.member {
  background-color: #dfdce3;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
